/*html{
  background-color: beige;
}*/
#container{
  display: flex;
  flex-direction: column;
  height: 94vh;
}
#head{
  /*flex-basis: 100px;*/
  display: flex;
  flex-direction: row;
  padding: 3vh;
  background-color: rgba(0, 255, 255, 0.112);
}
.title{
  font-weight: 200;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: calc(3.5vh);
  padding: 1vh 1vw 1vh 1vw;
  flex-grow: 1;
  color: rgba(177, 128, 63, 0.792);
}
#add{
  padding:1vh 1vw 1vh 1vw;
  text-align: center;
  font-style: oblique;
  font-weight: 100;
  font-size: large;
  font-size: calc(2vh);
}
#main{
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  background-color: rgba(245, 245, 220, 0.413);
}
.picture{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  box-shadow: 4px 4px 2px black;
  border-radius: 12px;
  margin: 3vh 5vw 3vh 5vw;
  overflow: hidden;
  background-color: rgba(183, 56, 56, 0.1);
}
#foot{
  text-align: center;
  height: 5vh;
  background-color: rgba(153, 205, 50, 0.178);
}
.tel{
  font-size: large;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 100;
}
hr{
  width: 99vw;
  margin: 0.5vh;
}
.last{
  font-style: oblique;
}
/*max-width 주기
년도 날짜 중앙에 맞추기